<script>
$("#rl_showEditbt").click(function(){
	url="reservoirLithology/showedit";
	$.ajax({
		url:url,
		data:{pid:$("#rl_showpid").val()},
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").show();
		}
	});
});
</script>
<section class="content">
<li class="list-group-item">
<input type="hidden" id="rl_showpid" th:value="${pid}">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10" style="overflow-x: auto; overflow-y: hidden;">
<table id="example2" class="table table-hover table-bordered" >
                            <thead><tr>
								<th style="text-align:center;">Stage</th>
								<th style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TVD(ft)&nbsp;&nbsp;&nbsp;</th>
								<th nowrap style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MD(ft)&nbsp;&nbsp;&nbsp;</th>
								<th nowrap style="text-align: center;">Layer
									Thickness(ft)</th>
								<th nowrap style="text-align: center;">Rock
									Type</th>
								<th nowrap style="text-align: center;">Permiability(md)</th>
								<th nowrap style="text-align: center;">Porosity</th>
								<th nowrap style="text-align: center;">Leakoff
									Coefficient(ft/min^5)</th>
								<th nowrap style="	text-align: center;">Youngs
									Modulus</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list:${list}">
								<th style="text-align:center;" th:text="${list.fracstage}"></th>
								<td th:text="${list.tvd}"></td>
								<td th:text="${list.md}"></td>
								<td th:text="${list.layer}"></td>
								<td th:text="${list.rock}"></td>
								<td th:text="${list.perm}"></td>
								<td th:text="${list.poro}"></td>
								<td th:text="${list.leakoff}"></td>
								<td th:text="${list.youngs}"></td>
							</tr>
							</tbody>
                        </table>
</div>
</div>
<br><center>
	<input id="rl_showEditbt" class="btn btn-primary" type="submit"
		value="Edit" style="width:10%"/>
</center>
</li>
</section>