<script th:inline="javascript">

	$("#if_impsavebt").click(function(e){
		e.preventDefault();
		if($("#imprate").val()&&$("#impcoeff").val()&&$("#imploss").val()&&$("#impskin").val()&&$("#imppi").val()&&$("#impmargin").val()&&$("#impstress").val()){
		url="/injectedfluid/savefluid";
		$.ajax({
			url:url,
			data:$("#if_impform").serialize(),
			success:function(res){
				$("#loadtable").html(res);
              	$("#exampleModal").show();
			}
		});
		}
		else{
			alert("Fill Empty Field");
			return false;
		}
	});

</script>

<div class="tab-content">
	<div class="tab-pane active" id="tab_1">
		<form id="if_impform">
		<div class="row">
		<div class="col-lg-12">
			
				<input type="hidden" id="if_imppid" name="imppid" th:value="${pid}">
				<div class="col-md-10">

					<table id="" class="table table-hover">
						<tr>
							<th>Injection Rate(bbl/min)</th>
							<td><input type="number" id="imprate" name="imprate" class="form-control" required/></td>
						</tr>
						<tr>
							<th>Leak off coefficient (ft/sec^1/2)</th>
							<td><input type="number" id="impcoeff" name="impcoeff" class="form-control" required/></td>
						</tr>
						<tr>
							<th>Spurt loss (gal/ft2)</th>
							<td><input type="number" id="imploss" name="imploss" class="form-control" required/></td>
						</tr>
					</table>

				</div>
				<div class="col-md-12">
					
				</div>
				<div class="col-md-10">
			<center><strong><h4 class="text-center">Pre-frac skin and PI</h4></strong><br></center>
					<table id="" class="table table-hover">
						<tr>
							<th>Skin</th>
							<td><input type="number" id="impskin" name="impskin" class="form-control" required/></td>
						</tr>
						<tr>
							<th>PI (bbl/day-psi)</th>
							<td><input type="number" id="imppi" name="imppi" class="form-control" required/></td>
						</tr>

					</table>

				</div>


				<div class="col-md-12">
					
				</div>
				<div class="col-md-10">
					<center><strong><h4 class="text-center">Others input
							parameters</h4></strong><br></center>
					<table id="" class="table table-hover">
						<tr>
							<th>Safety margin (200-500 psi)</th>
							<td><input type="number" id="impmargin" name="impmargin" class="form-control" required/></td>
						</tr>
						<tr>
							<th>Tectonic stress (psi)</th>
							<td><input type="number" id="impstress" name="impstress" class="form-control" required/></td>
						</tr>

					</table>
					
						
				</div>
			
</div>
		</div>
		<center>
					<input type="submit" id="if_impsavebt" class="btn btn-primary"
						value="SAVE"/></center>
						</form>
	</div>
</div>