<div class="tab-content">
            <div class="tab-pane active" id="tab_1">
<strong><h4 class="text-center"style="font-weight: bold;">ACID TYPE</h4></strong><br>

<form class="form-horizontal" role="form">
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        
        
        <div class="col-md-2">
    <label>Acid Name </label>
    </div>
    <div class="col-md-6">
          <select class="form-control">
          <option value="" disabled selected hidden>Select Acid Name </option>
  		<option value="1">HCL</option>
  		<option value="2">HF</option>
  		<option value="3">Acetic Acid</option>
  		<option value="4">Formic Acid</option>
  		<option value="5">Emulfied Acid</option>
          </select>
          </div>
        </div>
      </div>
    </div>
    </div>
  
</form>
</div>
</div>
