<div class="tab-content">
            <div class="tab-pane active" id="tab_1">
<strong><h4 class="text-center"style="font-weight: bold;">INJECTED FLUID</h4></strong><br>


<div class="row">
                    <div class="col-md-10">
                    
                        <table id="example2" class="table table-hover" >
                          <tr> 
                          <th>Injection Rate(bbl/min)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr> 
                          <th>Leak off coefficient (ft/sec^1/2)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr id=""> 
                          <th>Spurt loss (gal/ft2)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                        </table>
                        <!-- <input class="btn btn-primary" type="submit" value="SAVE" style="margin-left:50%;"/> -->
                    
                    </div>
                    <div class="col-md-12">
                   <strong><h4 class="text-center">Pre-frac skin and PI</h4></strong><br>
                   </div>
                    <div class="col-md-10">
                    
                        <table id="example2" class="table table-hover" >
                          <tr> 
                          <th>Skin</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr> 
                          <th>PI (bbl/day-psi)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          
                        </table>
                        <!-- <input class="btn btn-primary" type="submit" value="SAVE" style="margin-left:50%;"/> -->
                    
                    </div>
                    
                    
                    <div class="col-md-12">
                   <strong><h4 class="text-center">Others input parameters</h4></strong><br>
                   </div>
                    <div class="col-md-10">
                    
                        <table id="example2" class="table table-hover" >
                          <tr> 
                          <th>Safety margin (200-500 psi)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr> 
                          <th>Tectonic stress (psi)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          
                        </table>
                        <input class="btn btn-primary" type="submit" value="SAVE" style="margin-left:50%;"/>
                    
                    </div>

                    
</div>
</div>
</div>