        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <strong><h4 class="text-center"style="font-weight: bold;">INJECTION PLAN</h4></strong><br>
                <div class="row">
                <div class="col-md-6">
               <form style="margin-bottom: 10px;">
    <label class="radio-inline">
      <input type="radio" name="optradio" checked>Post Frac Analysis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">Pre Frac Analysis
    </label>
  </form>
  <br>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <table id="example2" class="table table-hover table-hover" >
                            <thead  class="bg-gray">
							<tr>
							<th>Duration(min)</th>
							<th>Stage</th>
							<th>Volume(bbls)</th>
							<th>Total Conc. Of Acid</th>
							<th>Viscosity(cp)</th>
							<th>Density(lbm/ft3)</th>
							<th>Pump Rate(BPM)</th>
							<th>WHTP(psi)</th>
							<th>BHP(psi)</th>
                            </tr>
                            </thead>
                            <tbody>
                               <!--  <g:each in="${reservoirLithologyInstanceList}" status="i" var="reservoirLithologyInstance"> -->
                                    <tr >
                                         <td></td>
                                         <td></td>
                                         <td></td>
                                         <td></td>
                                         <td></td>
                                         <td></td>

                                    </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- <g:hiddenField name="id" value="${params.id.toLong()}"/> -->
                    

                        <!-- <g:actionSubmit class="edit btn btn-md btn-primary" value="EDIT "><i class='fa fa-angle-right'></i></g:actionSubmit> -->

                    
                </div>

            </div>

        </div>
    