
<div class="tab-content">
            <div class="tab-pane active" id="tab_1">
<strong><h4 class="text-center"style="font-weight: bold;">MINI FRAC ANALYSIS</h4></strong><br>

<script type="text/javascript">



$('#importData').click(function(event){
	event.preventDefault();
	var formData = new FormData($("#fileUploadForm")[0]);
	
	
	$.ajax({
		  url: "test2",
		  type: 'POST',
		  enctype: 'multipart/form-data',
		  data: formData,
		  processData: false, // tell jQuery not to process the data
		  contentType: false, // tell jQuery not to set contentType
		  cache: false,
		  success: function(res){
		    var data;
		    var i;
		    for(i=0;i<res.length;i++){
		    	data+="<tr><td >" + res[i].pressure + "</td><td>" + res[i].time + "</td><td class='text-left'><button onclick='' id='edit'><a th:href=\"@{'/update/'"+res[i].id +"\" class=\"fa fa-fw fa-edit\"></a></button></td><td class='text-left'><button onclick='' id='delete'><a th:href=\"@{'/delete/'"+res[i].id +"\" class=\"fa fa-fw fa-trash\"></a></button></td></tr>";
		    }
		    $("#body").html(data);
		  },
		  error: function(res) {
		    console.log('ERR: ' + res);
		  }
		});
	
});

$(".update").click(function(){
	var id=$(this).val();
	$(this).type='text';
	$(".press").prop("disabled" , false);
	$(".time").prop("disabled" , false);
	alert(id);

});

$(".delete").click(function(){
	var id=$(this).val();
	var pid=$("#hiddenId").val();
	url="/delete";
	$.ajax({
	url:url,
	data:{id:id,pid:pid},
	success:function(data){
		$("#loadtable").html(data);
    	jQuery("#exampleModal").modal('show');
	}
	});
});

</script>

<form class="form-group " th:action="@{/}" enctype="multipart/form-data" id="fileUploadForm"  method="post" >
 <div class="row">
<div class="col-md-12">

                        Select Mini Frac File (txt) to import
                        <input id="file1" name="files" type="file"><br>
                  
              
              </div>
            </div> 
         
            
            
            <div class="row">
                <div class="col-md-12">
    <div class="form-group">
    <div class="col-md-5">
    <label >Pumping Time (Min)</label>
    </div>
    <div class="col-md-5">
   <input  id="ptime" class="form-control" type="number" min=0 step="any" name="pumptime" th:value=${pumptime} placeholder="Enter Pumping Time">
    <input id="hiddenId" name="pro_Id" type="hidden" th:value=${hiddenId}><br>
    
    </div>
    </div>
    <input type="submit" id="importData" value="Import" class="btn btn-primary"></input>
    </div>
                </div>
         </form> 
                <br>
                
            <div class="row">
            <div class="col-md-12" >
            <table id="example2" class="table table-hover table-hover" >
                            <thead  class="bg-gray">
							<tr>
                            		<th style="width:40%" text-center>Pressure (psi)</th>
                            		<th style="width:40%" text-center>Shut In Time (Min)</th>
                            		<th>Update</th>
                            		<th>Delete</th>
                            </tr>
                            </thead>
                            <tbody th:if="${list.empty}" id="body" >
                             
                             </tbody>
                             
                             <tbody >
                             <tr th:each="list : ${list}"  >
                            
                                            <td><input type="text"  th:value="${list.pressure}" class="press form-control" disabled></td>
                                            <td><input type="text"  th:value="${list.time}" class="time form-control" disabled></td>
                                            <td class="text-left">
                                                    <input type="button" th:value="${list.id}" class="update"/>
                                            </td>
                                             <td class="text-left">
                                                    <input type="button" th:value="${list.id}" class="delete"/>
                                            </td>
                               </tr>
                             </tbody>
                        </table>
            </div>
            </div>
</div>
</div>