    <script type="text/javascript">
    function Add(){
    	AddRow($("#from").val(), $("#to").val(),$("#tvd").val(),$("#perm").val(),$("#poro").val(),$("#zonal").val());
        $("#from").val("");
        $("#to").val("");
        $("#tvd").val("");
        $("#perm").val("");
        $("#poro").val("");
        $("#zonal").val("");
    };
    function AddRow(a,b,c,d,e,f) {
    	alert("ADDROW() Function");
    };
    
    $( "#button" ).click(function() {
        $( "#fill" ).slideToggle( "slow" );
        $( "#form" ).slideToggle( "slow" );
        var val = document.getElementById('button').value;
        if(val=="Enter Manually"){
        document.getElementById('button').value = "Import Well Log";
        }
        else{
        document.getElementById('button').value = "Enter Manually";
        }
        });
    </script>
    
        <section class="content">
    <div class="tab-content" id="hide">
        <div class="row" id="loadtable2" style="padding: 20px; display: none;">
           <!--  <div class="col-lg-12 col-xs-12" style="background-image:url('${resource(dir: "dist/img/", file: "wait.gif")}');height: 250px;background-repeat: no-repeat;background-position: center;width:1000px;"> -->

            </div>
        </div>
        <div class="row" id="form">
            <div class="col-lg-4 col-xs-6">
    

                <form enctype="multipart/form-data" id="demoform" method="POST" name="demoform">
                    <div class="form-group ">
                        Select Well Log File (las/txt) / Excel(xlsx) to import
                        <input name="welllog" id="file2" type="file">
                    </div>
                    <div class="form-group ">
                        <input type="submit"  value="Import" class="btn btn-primary"  id="importData"/>
                    </div>
                    <input id="val" type="text" hidden="true" name="id" value="${details.id}"/>

                </form>
              
            </div> 
            <div class="col-lg-8 col-xs-6">
                <h3>Note:</h3>
                <ul>
                    User can input reservoir lithology (Perm/Poro over depth (MD), TVD, formation pressure ) in anyone of three ways :

                    <li>  Import well log ( Porosity log in .las/txt) file</li>
                    <li>  Import excel file (Perm/Poro over depth, excel format provided)</li>
                    <li>  Enter manually (Perm/Poro, TVD and formation pressure)</li>

                </ul>
            </div>

        </div>
        <input type="button" class="btn btn-primary" value="Enter Manually" id="button">
        <div class="tab-pane active" id="fill" style="display: none;">
            <!-- Personal info Li -->    
            <li class="list-group-item">
                <strong><h4 class="text-center">RESERVOIR LITHOLOGY</h4></strong><br>
                
                <div class="row">
                <div class="col-md-6">
    <div class="form-group">
    <div class="col-md-7">
    <label >Input Number Of Fracturing Stages</label>
    </div>
    <div class="col-md-5">
    <input  class="form-control" type="number"/>
    </div>
    </div>
    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <table id="example2" class="table table-hover table-hover" >
                            <thead  class="bg-gray">
							<tr>
                            <th style="width:16.5%;text-align: center;">From MD (FT)</th>
                                    <th style="width:16.5%;text-align: center;">To MD (FT)</th>
                                    <th style="width:16.5%;text-align: center;">TVD (FT)</th>
                                    <th style="width:16.5%;text-align: center;">Perm (mD)</th>
                                    <th style="width:16.5%;text-align: center;">Poro (0-1)</th>
                                    <th style="width:16.5%;text-align: center;">Zonal Press(Psi)</th>

                                    <th style="width:16.5%;text-align: center;">Add Field</th>
                            
                            </tr>
                            </thead>
                            <tbody>
                                    <tr >
                                         <td><input  type="number" min="" max="" class="form-control" id="from"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="to"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="tvd"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="perm"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="poro"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="zonal"></td>

                                    <td><input class="btn btn-primary" type="button" onclick="Add();" value="+"></td>
                                    </tr>
                            </tbody>
                        </table><input class="btn btn-primary" type="submit" value="SAVE" style="margin-left:50%;"/>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
</section>
        
        
        
        <!--********************************************************************************************************************** 
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <strong><h4 class="text-center"style="font-weight: bold;">RESERVOIR LITHOLOGY</h4></strong><br>
                <div class="row">
                    <div class="col-md-12">

                        <table id="example2" class="table table-hover table-hover" >
                            <thead  class="bg-gray">
							<tr>
                            <th style="width:16.5%;text-align: center;">From MD (FT)</th>
                                    <th style="width:16.5%;text-align: center;">To MD (FT)</th>
                                    <th style="width:16.5%;text-align: center;">TVD (FT)</th>
                                    <th style="width:16.5%;text-align: center;">Perm (mD)</th>
                                    <th style="width:16.5%;text-align: center;">Poro (0-1)</th>
                                    <th style="width:16.5%;text-align: center;">Zonal Press(Psi)</th>

                                    <th style="width:16.5%;text-align: center;">Add Field</th>
                            
                            </tr>
                            </thead>
                            <tbody>
                                <g:each in="${reservoirLithologyInstanceList}" status="i" var="reservoirLithologyInstance">
                                    <tr >
                                         <td><input  type="number" min="" max="" class="form-control" id="from"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="to"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="tvd"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="perm"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="poro"></td>
                                    <td><input  type="number" min="" max="" class="form-control" id="zonal"></td>

                                    <td><input class="btn btn-primary" type="button" onclick="Add();" value="+"></td>

                                    </tr>
                            </tbody>
                        </table>

                    </div>
                    <g:hiddenField name="id" value="${params.id.toLong()}"/>
                    

                        <g:actionSubmit class="edit btn btn-md btn-primary" value="EDIT "><i class='fa fa-angle-right'></i></g:actionSubmit>

                    
                </div>

            </div>

        </div> -->
    