<div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <strong><h4 class="text-center"style="font-weight: bold;">RESERVOIR FLUID PROPERTIES</h4></strong><br>
                <div class="row">
                <div class="col-md-12">
                <div class="col-md-6">
    <div class="form-group">
    <div class="col-md-6">
    <label >Select Stage:</label>
    </div>
    <div class="col-md-6">
    <input class="form-control" type="number"/>
    </div>
    </div>
    </div>
                </div>
                </div><br>
                
                <div class="row">
                <div class="col-md-4 bordered">
                <table id="" class="table table-hover table-hover" >
                          <tr>
							<th>OIL</th>
							<th>STAGE</th>
                          </tr>
                          <tr> 
                          <th>Viscosity(cp)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr> 
                          <th>Density(ppg)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr id="innDia"> 
                          <th>Formation Volume Factor(bbl/stb)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Compressibility(1/psi)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Effective Permiability(md)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                        </table>
                </div>
                <div class="col-md-4">
                <table id="" class="table table-hover table-hover" >
                          <tr>
							<th>GAS</th>
							<th>STAGE</th>
                          </tr>
                            <tr> 
                          <th>Viscosity(cp)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr> 
                          <th>Density(ppg)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr id="innDia"> 
                          <th>Formation Volume Factor(bbl/stb)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Compressibility(1/psi)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Effective Permiability(md)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                           <tr > 
                          <th>Gas Oil Ratio(SCF/STB)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                           <tr > 
                          <th>Gas Specific Gravity</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                        </table>
                </div>
                <div class="col-md-4 bordered">
                <table id="" class="table table-hover table-hover" >
                          <tr>
							<th>WATER</th>
							<th>STAGE</th>
                          </tr>
                            <tr> 
                          <th>Viscosity(cp)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr> 
                          <th>Density(ppg)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr id="innDia"> 
                          <th>Formation Volume Factor(bbl/stb)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Compressibility(1/psi)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Effective Permiability(md)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                            <tr > 
                          <th>Water Oil Ratio(SCF/STB)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                           <tr > 
                          <th>Water Specific Gravity</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                        </table>
                </div>
                <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                <input type="submit" class="btn btn-primary" value="SAVE"/>
                </div>
                </div>
                </div>
                
                </div>
                </div>