<div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <strong><h4 class="text-center"style="font-weight: bold;">ROCK PROPERTIES</h4></strong><br>

<div class="row">
                <div class="col-md-12">
                <div class="col-md-6">
    <div class="form-group">
    <div class="col-md-6">
    <label >Select Stage:</label>
    </div>
    <div class="col-md-6">
    <input class="form-control" type="number"/>
    </div>
    </div>
    </div>
                </div>
                </div><br>
                
                

<div class="row">
                    <div class="col-md-10">
                    
                        <table id="example2" class="table table-hover" >
                          <tr> 
                          <th>Rock Density(lbm/ft3)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr> 
                          <th>Fracture Gradient(psi/ft)</th>
                          <td> <input type="number" class="form-control"/> </td>
                          </tr>
                          <tr id=""> 
                          <th>Young Modulus(psi)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Shear Modulus(psi)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Poisson Ratio</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Rock embedment strength (psi)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                          <tr > 
                          <th>Tensile strength (psi)</th>
                          <td><input type="number" class="form-control"/></td>
                          </tr>
                        
                        </table>
                        <input class="btn btn-primary" type="submit" value="SAVE" style="margin-left:50%;"/>
                    
                    </div>
                </div>
                
</div>
</div>