<script>
$("#rf_showupbt").click(function(){
	url="/reservoirFluid1/updateres"
	$.ajax({
		url:url,
		data:$("#if_upmainform").serialize(),
		success:function(res){
			$("#loadtable").html(res);
	      	$("#exampleModal").show();
		}
	});
});
</script>

<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<form id="if_upmainform">
<input type="hidden" id="rf_showpid" name="showpid" th:value="${pid}">	
<input type="hidden" id="rf_imptype" name="imptype" th:value="${type}">		
	<div class="row">
	<div class="col-md-1"></div>
		<div class="col-md-12" >
		<label>Select Fluid Type:</label>
		<select class="form-control" id="rf_impselectfluid" style=" margin-left:2%;width:50%;display:inline-block;">
		<option disabled selected hidden>[[${type}]]</option>
		<option value="oil">Oil Properties</option>
		<option value="gas">Gas Properties</option>
		<option value="water">Water Properties</option>
		<option value="oil-gas">Oil-Gas Properties</option>
		<option value="oil-water">Oil-Water Properties</option>
		<option value="gas-water">Gas-Water Properties</option>
		<option value="oil-gas-water">Oil-Gas-Water Properties</option>
		</select>
		</div>
		
		</div>
	
	
		<br>
<table id="" class="table table-hover" th:if="${list!=null}">
		<tr th:if="${list!=null}">
			<td></td>
			<th th:if="${oil!=null}" style="text-align:center">Oil</th>
			<th th:if="${gas!=null}" style="text-align:center">Gas</th>
			<th th:if="${water!=null}" style="text-align:center">Water</th>
		</tr>
		<tr>
		<th style="width:50%">Viscosity(cp)</th>
		<td th:if="${oil!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${oil[0].value}" >
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${oil[0].id}" ></td>
		<td th:if="${gas!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${gas[0].value}" >
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${gas[0].id}" ></td>
		<td th:if="${water!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${water[0].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${water[0].id}" ></td>
		</tr>
		<tr>
		<th style="width:50%">Density(ppg)</th>
		<td th:if="${oil!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${oil[1].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${oil[1].id}" ></td>
		<td th:if="${gas!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${gas[1].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${gas[1].id}" ></td>
		<td th:if="${water!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${water[1].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${water[1].id}" ></td>
		</tr>
		<tr>
		<th style="width:50%">Formation Volume Factor(bbl/stb)</th>
		<td th:if="${oil!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${oil[2].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${oil[2].id}" ></td>
		<td th:if="${gas!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${gas[2].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${gas[2].id}" ></td>
		<td th:if="${water!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${water[2].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${water[2].id}" ></td>
		</tr>
		<tr>
		<th style="width:50%">Compressibility(1/psi)</th>
		<td th:if="${oil!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${oil[3].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${oil[3].id}" ></td>
		<td th:if="${gas!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${gas[3].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${gas[3].id}" ></td>
		<td th:if="${water!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${water[3].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${water[3].id}" ></td>
		</tr>
		<tr>
		<th style="width:50%">Effective Permiability(md)</th>
		<td th:if="${oil!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${oil[4].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${oil[4].id}" ></td>
		<td th:if="${gas!=null}"></td>
		<td th:if="${water!=null}"></td>
		</tr>
		<tr>
		<th style="width:50%">Relative Permiability(md)</th>
		<td th:if="${oil!=null}"></td>
		<td th:if="${gas!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${gas[4].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${gas[4].id}" ></td>
		<td th:if="${water!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${water[4].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${water[4].id}" ></td>
		</tr>
		<tr>
		<th style="width:50%">GOR,Gas Oil Ratio(SCF/STB)</th>
		<td th:if="${oil!=null}"></td>
		<td th:if="${gas!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${gas[5].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${gas[5].id}" ></td>
		<td th:if="${water!=null}"></td>
		</tr>
		<tr>
		<th style="width:50%">Gas Specific Gravity</th>
		<td th:if="${oil!=null}"></td>
		<td th:if="${gas!=null}"><input type="number" class="form-control" th:name="if_upinput" th:value="${gas[6].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${gas[6].id}" ></td>
		<td th:if="${water!=null}"></td>
		</tr>
		<tr>
		<th style="width:50%">WOR,Water Oil Ratio(SCF/STB)</th>
		<td th:if="${oil!=null}"></td>
		<td th:if="${gas!=null}"></td>
		<td th:if="${water!=null}"><input type="number"  class="form-control" th:name="if_upinput" th:value="${water[5].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${water[5].id}" ></td>
		</tr>
		<tr>
		<th style="width:50%">Water Specific Gravity</th>
		<td th:if="${oil!=null}"></td>
		<td th:if="${gas!=null}"></td>
		<td th:if="${water!=null}"><input type="number"  class="form-control" th:name="if_upinput" th:value="${water[6].value}">
		<input type="hidden" class="form-control" th:name="if_upinputid" th:value="${water[6].id}" ></td>
		</tr>
		</table>
	</form>
		<center id="rf_showcenter">
			<input id="rf_showupbt" type="button" class="fa btn btn-primary" value="Update" style="width:10%;" />
			</center>

</div>
<div class="col-md-1"></div>
</div>


